<mat-toolbar color = "accent">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>MANAGE STUDENT</span>
  <!-- <span class="example-spacer"></span> -->
  <span style="flex: 1 1 auto;"> </span>
  <button mat-icon-button aria-label="Example icon-button with heart icon">
    <mat-icon>list</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with playlist_add icon">
    <mat-icon>playlist_add</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>