
<!-- <header style="background-color:blue; border: 10px solid transparent;">
    <div>
      <section class=" body">
        <span style="font-size: 40px; color: white; font-family:'Lucida Console', Courier, monospace;"> {{name | uppercase}} </span>
      </section> 
    </div>
</header> -->
<header >
  <div >
    <section style=" align-content: space-between ; padding: 5px; " >
      <div  > 
        <span style="font-size: 40px; color: blue; font-family:'Lucida Console', Courier, monospace;"  >{{name | uppercase}}</span>
      </div>
      
      <div> 
        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" >list</button>
      <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">search</button>
      <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Options">more_vert</button>
      </div>
      
    </section>
  </div>
</header>